{% extends "base.html" %} {% block content %} {% load static%}

<div class="container">
    </br>
    <p>相談したい著者を選んで質問をしてみましょう</p>
    <form action="" method="post">
        {% csrf_token %}
        著者選択：<select name="author_id" id="author_id">

                {% for author_info in author_infos %}
                    <option value={{author_info.id}}>{{ author_info.author_name }}</option>
                {% endfor %}
        </select>
        <input type="submit" value="送信">
    </br>
    </br>
        <div>
          <textarea id="input-text" name="input-text" rows="3" cols="50">{{ input_text }}</textarea>
        </div>
    </form>
    </br>
    {{ response }}
</div>

    
{% endblock %}